<?xml version="1.0"?>

<model>
  <name>Red Circular Target</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Adarsh Jagan Sathyamoorthy</name>
    <email>adarshjagan3895@gmail.com</email>
  </author>
  
  <description>
    This is the first target to reach.
  </description>

</model>
