<!-- This launch file will be the first to run -->
<!-- Will deal with timing nodes like rosserial -->
<!-- Will launch nodes across several machines -->

<launch>
    <node
        name="commander"
        pkg="commander"
        type="commander"
        output="screen"
    />
    <include
        file="$(find arduino)/servo.launch"
    />
    <include
        file="$(find vision)/vision.launch"
    />
    <include
        file="$(find px4_interface)/px4.launch"
    />
</launch>


<!-- EXAMPLE MULTIPLE COMPUTER LAUNCH
<launch>
  <group name="wg">
    <include file="$(find pr2_alpha)/$(env ROBOT).machine" />
    <include file="$(find 2dnav_pr2)/config/new_amcl_node.xml" />
    <include file="$(find 2dnav_pr2)/config/base_odom_teleop.xml" />
    <include file="$(find 2dnav_pr2)/config/lasers_and_filters.xml" />
    <include file="$(find 2dnav_pr2)/config/map_server.xml" />
    <include file="$(find 2dnav_pr2)/config/ground_plane.xml" />

    <include file="$(find 2dnav_pr2)/move_base/move_base.xml" />
  </group>
</launch>
-->