<launch>
	<node name="terpcopter_camera_node" pkg="terpcopter_driver" type="terpcopter_camera_node" >
		<param name="forward_camera_id" type="int" value="0" />
	</node>
        
	<node name="terpcopter_teraranger_node" pkg="terpcopter_driver" type="terpcopter_teraranger_node" >
		<param name="serial_port" type="str" value="/dev/ttyUSB1" />
	</node>

</launch>
